<!DOCTYPE html>
<html>
  <head>
    <% var env, path = '' ;%>
    <% if (env === 'dev') { path = 'dist/'; } %>
    <meta charset="utf-8">
    <title>Node + EJS Biolerplate</title>
    <link rel="stylesheet" type="text/css" href="<%- path %>css/main.min.css">
    <script src="<%- path %>js/app.min.js" charset="utf-8"></script>
  </head>
  <body>
      <% include partials/header %>
      <p>Node JS</p>
      <p>EJS</p>
      <p>SASS</p>
      <p>Gulp</p>
      <p>BrowserSync</p>
      <p>ES6/Babel</p>
  </body>
</html>
