<!DOCTYPE html>
<html lang="en">
  <head>
    <% var env, path = '/', script = '/js/app.min.js';%>
    <% if (env === 'dev') { path = 'dist/'; script = 'dist/js/app.js'; } %>
    <meta charset="utf-8">
    <title>Node + EJS + SCSS boilerplate</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="<%- path %>css/main.min.css">
  </head>
  <body>
    <%- include('_partials/header', { header: 'This is a Biolerplate for the following' }); %>
    <p>Node JS</p>
    <p>EJS</p>
    <p>SASS</p>
    <p>Gulp</p>
    <p>BrowserSync</p>
    <p>ES6/Babel</p>
    <p>Karma / Mocha / Chai</p>
    <script src="<%- path %>js/modules/jquery.min.js"></script>
    <script src="<%- script %>" charset="utf-8"></script>
  </body>
</html>
